@import "../../App.scss";

.navbar {
  height: 80px;
  width: 100%;
  background-color: var(--bg2);
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  h1 {
    font-family: "Nunito Sans";
    font-weight: bold;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
  }

  .dark-mode-container {
    display: flex;
    margin: auto 0;
    width: 84px;
    margin-right: 1rem;

    i {
      margin: auto 8px auto 0;
    }

    button {
      height: 22px;
      margin: auto 0;
      font-size: 12px;
      font-weight: 500;
      padding: 0;
      background-color: var(--bg2);
      // color: white;
      color: var(--color-text);
      border: none;
      outline: none;
    }
  }

  @media (min-width: 375px) {
    .navbar {
      margin-bottom: 40px;

      h1 {
        font-size: 24px;
        margin-left: 5rem;
      }

      .dark-mode-container {
        margin-right: 5rem;
        width: 108px;

        button {
          font-size: 16px;
        }
      }
    }
  }
}
